<!-- Logbook Page -->
<div id="LogbookPage"
  layout="row"
  flex>
  <div layout="column"
    flex>

    <!-- Logbook Header -->
    <md-toolbar class="page-header">
      <div class="md-toolbar-tools">

        <!-- Logbook Title -->
        <h1>{{ $logbookPage.logbook.Name }}</h1>

        <span flex></span>

        <md-menu class="logbook-tools">
          <!-- trigger -->
          <md-button class="menu-toggle md-icon-button"
            aria-label="Open Settings"
            ng-click="openMenu($mdMenu.open, $event)">
            <md-icon class="material-icons">
              settings_cog
            </md-icon>
          </md-button>
          <!-- content -->
          <md-menu-content width="4">
            <md-menu-item>
              <md-button ng-click="$logbookPage.renameLogbook($event)">
                <md-icon>edit</md-icon>
                Rename Logbook
              </md-button>
            </md-menu-item>
            <md-menu-divider></md-menu-divider>
            <md-menu-item>
              <md-button ng-click="$logbookPage.deleteLogbook($event)">
                <md-icon>delete</md-icon>
                Delete Logbook
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>

      </div>
    </md-toolbar>

    <!-- Logbook Content -->
    <main>

      <!-- Logbook Transactions Section -->
      <section class="transactions">

        <!-- Logbook Transactions -->
        <ul class="transactions">

          <!-- Transaction -->
          <li ng-repeat="transaction in $logbookPage.logbook.Transactions | orderBy: 'Occurred'">
            <a ui-sref="app.user.transactionPage({ transactionId: transaction.Id })"
              layout="row"
              flex>
              <span class="transaction-title">{{ transaction.Summary }}</span>
              <span flex></span>
              <span class="transaction-currency-symbol">{{ $logbookPage.currencySymbol }}</span>
              <span class="transaction-amount">{{ transaction.Amount / $logbookPage.currencyAmountMultiplier }}</span>
            </a>
          </li>

        </ul>

        <!-- Section Footer -->
        <footer>

          <!-- Create A New Transaction Button -->
          <md-button class="md-raised md-primary"
            ng-click="$logbookPage.createTransaction()">

            <!-- Icon -->
            <md-icon class="material-icons">
              create
            </md-icon>

            <!-- Text -->
            <span>Create a new transaction</span>

          </md-button>

        </footer>

      </section>

    </main>

  </div>
</div>
