<!-- Logbook Page -->
<div id="LogbookPage"
  layout="row"
  flex>
  <div layout="column"
    flex>

    <!-- Logbook Header -->
    <md-toolbar class="page-header md-sticky">
      <div class="md-toolbar-tools">

        <!-- Logbook Title -->
        <h1>{{ $logbookPage.logbook.Name }}</h1>

        <span flex></span>

        <!-- Create A New Transaction Button -->
        <md-button class="md-raised md-primary create-transaction-button"
          ng-click="$logbookPage.createTransaction()">

          <!-- Icon -->
          <md-icon class="material-icons">
            add
          </md-icon>

          <!-- Text -->
          <span>Entry</span>

        </md-button>

        <md-menu class="logbook-tools">
          <!-- trigger -->
          <md-button class="menu-toggle md-icon-button"
            aria-label="Open Settings"
            ng-click="openMenu($mdMenu.open, $event)">
            <md-icon class="material-icons">
              settings_cog
            </md-icon>
          </md-button>
          <!-- content -->
          <md-menu-content width="4">
            <md-menu-item>
              <md-button ng-click="$logbookPage.renameLogbook($event)">
                <md-icon>edit</md-icon>
                Rename Logbook
              </md-button>
            </md-menu-item>
            <md-menu-divider></md-menu-divider>
            <md-menu-item>
              <md-button ng-click="$logbookPage.deleteLogbook($event)">
                <md-icon>delete</md-icon>
                Delete Logbook
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>

      </div>
    </md-toolbar>

    <!-- Logbook Content -->
    <main>

      <!-- Logbook Transactions Section -->
      <section class="transactions">

        <!-- Logbook Days -->
        <ul class="logbook-days">

          <!-- Day -->
          <li ng-repeat="day in $logbookPage.days | orderBy: '-date'">
            <md-subheader>
              <span>{{ day.date }}</span>
            </md-subheader>

            <!-- Logbook Transactions -->
            <ul class="transactions">

              <!-- Transaction -->
              <li ng-repeat="transaction in day.transactions | orderBy: '-Occurred'"
                ng-class="{'credit-transaction': transaction.Amount > -1, 'debit-transaction': transaction.Amount < 0}">
                <a ui-sref="app.user.transactionPage({ transactionId: transaction.Id })"
                  layout="row">
                  <span class="transaction-title">{{ transaction.Summary }}</span>
                  <span flex></span>
                  <span class="transaction-currency-symbol">{{ $logbookPage.currencySymbol }}</span>
                  <span class="transaction-amount">{{ $logbookPage.abs(transaction.Amount / $logbookPage.currencyAmountMultiplier) }}</span>
                  <span class="transaction-type">{{ transaction.Amount > -1 ? 'CR' : 'DR' }}</span>
                </a>
              </li>

            </ul>

            <footer layout="row"
              ng-class="{'credit-day': day.total > -1, 'debit-day': day.total < 0}">
              <span class="total-row-label">Total</span>
              <span flex></span>
              <span class="logbook-currency-symbol">
                {{ $logbookPage.currencySymbol }}
              </span>
              <span class="logbook-total">
                {{ $logbookPage.abs(day.total / $logbookPage.currencyAmountMultiplier) }}
              </span>
              <span class="logbook-total-type">
                {{ day.total > -1 ? 'CR' : 'DR' }}
              </span>
            </footer>
          </li>

        </ul>

        <!-- Section Footer -->
        <footer>

          <!-- Create A New Transaction Button -->
          <md-button class="md-raised md-primary"
            ng-click="$logbookPage.createTransaction()">

            <!-- Icon -->
            <md-icon class="material-icons">
              create
            </md-icon>

            <!-- Text -->
            <span>Create a new transaction</span>

          </md-button>

        </footer>

      </section>

    </main>

  </div>
</div>
