<div id="UserDashboard"
  layout="row"
  flex>

  <div class="user-dashboard"
    style="margin: 8px;padding:8px;"
    flex>

    <div layout="column">
      <div style="border-bottom: 1px solid rgba(0,0,0,0.12);margin:24px 8px 8px;padding:0 8px;height:49px;"
        layout="row"
        layout-align="start center">
        <md-card-header-text>
          <span class="md-headline">
            List Logbooks
          </span>
        </md-card-header-text>
      </div>

      <div layout="row"
        layout-xs="column"
        layout-wrap>
        <div flex-gt-xs="33"
          ng-repeat="logbook in logbooks | orderBy: 'Name'">
          <md-card>
            <md-card-header ui-sref="app.user.logbookPage({ logbookId: logbook.Id })">
              <md-card-avatar>
                <md-icon class="material-icons">
                  account_balance_wallet
                </md-icon>
              </md-card-avatar>
              <md-card-header-text flex>
                <span class="md-title">{{ logbook.Name }}</span>
                <span class="md-subhead">&nbsp;</span>
              </md-card-header-text>
              <span class="logbook-balance-currency-symbol">
                {{ logbook.Balance > -1 ? 'CR' : 'DR' }}
                {{ currencySymbols[logbook.Currency] }}
              </span>
              <span class="logbook-balance">
                {{ abs(logbook.Balance) / pow(10, currencyDecimalPlaces[logbook.Currency]) | currency : '' : 2 }}
              </span>
            </md-card-header>
            <md-divider></md-divider>
            <md-card-actions layout="row"
              layout-align="end center">
              <md-button class="md-primary"
                ui-sref="app.user.logbookPage({ logbookId: logbook.Id })">
                <md-icon class="material-icons">
                  edit
                </md-icon>
                Manage Transactions
              </md-button>
            </md-card-actions>
          </md-card>
        </div>
        <div flex-gt-xs="33">
          <div class="create-logbook-card"
            layout="column"
            layout-align="center center">
            <span>New logbook?</span>
            <md-button class="md-raised md-primary"
              ng-click="createLogbook()">
              <md-icon class="material-icons">
                create
              </md-icon>
              Create a new logbook
            </md-button>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>
